:root {
  background-color: azure;
  --dark: rgb(58, 20, 20);
  --text: rgb(220, 175, 175);
  font-size: 62.5%;
}

body {
  font-weight: 500;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2.5rem;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 10rem;
  background-color: var(--dark);
  color: var(--text);
  padding: 1rem;
}

#timeDisplay {
  font-size: 2.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 12rem;
  font-weight: 700;
}

.card button {
  align-items: center;
}

.btn {
  background-color: var(--text);
  color: var(--dark);
  font-weight: 700;
}

.modal-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.modal-form * {
  margin: 0.1rem;
  width: 45%;
  min-width: 12rem;
  height: 2.1rem;
}

.modal-footer {
  background-color: aliceblue;
}
