:root {
  background-color: azure;
  --dark: rgb(58, 20, 20);
  --text: rgb(220, 175, 175);
  --light: rgb(253, 217, 217);
  font-size: 62.5%;
}

body {
  font-weight: 500;
  background-color: var(--text);
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 2.5rem;
}

/* header and time display */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 10rem;
  background-color: var(--dark);
  color: var(--text);
  padding: 1rem;
}

#timeDisplay {
  font-size: 2.5rem;
}

/* new project card */
.card {
  display: flex;
  flex-direction: column;
  max-width: 12rem;
  font-weight: 700;
}

.card button {
  align-items: center;
}

.btn {
  background-color: var(--text);
  color: var(--dark);
  font-weight: 700;
}

/* modal*/
.modal-call-buttons {
  max-width: 12rem;
}

.modal-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.modal-form * {
  margin: 0.1rem;
  width: 45%;
  min-width: 12rem;
  height: 2.1rem;
}

.modal-footer {
  background-color: aliceblue;
}

/* main */
main {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
}

/*table */
.table-header {
  font-size: 1.8rem;
  background-color: var(--dark);
  color: var(--text);
  border: 0.1rem solid var(--dark);
}

#col-labels td {
  font-size: 1.5rem;
  font-weight: 500;
  border: 0.1rem solid var(--dark);
  background-color: var(--text);
  color: var(--dark);
}
